services:
  cs-web-server:
    build:
      context: ../..
      dockerfile: ./docker/cs-web-server/Dockerfile
    image: cs-web-server-local
    command: ["+rcon_password 1234", "+map fy_pool_day", "+maxplayers 6" ]
    restart: unless-stopped
    platform: linux/386
    environment:
      PORT: 27018
      IP: 217.154.183.63
    volumes:
      - "../../../game-data/valve.zip:/xashds/public/valve.zip"
      - "../../../game-data/bots/liblist.gam:/xashds/cstrike/liblist.gam"
      - "../../../game-data/bots/yapb:/xashds/cstrike/addons/yapb"
      - "../../../game-data/maps:/xashds/cstrike/maps"
      - "../../../game-data/map-previews:/xashds/public/map-previews:ro"
    ports:
      - "27016:27016"        # HTTP/web client (Caddy hará proxy aquí)
      - "27018:27018/udp"    # juego (UDP)

  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - cs-web-server

volumes:
  caddy_data:
  caddy_config:
